* text eol=lf
# Explicitly declare binary file patterns to be treated as binary and not to convert their line endings
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.tiff binary
*.ico binary
*.exe binary
*.dll binary
*.bin binary
*.zip binary
*.tar binary
*.gz binary
*.rar binary
*.7z binary

